<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sekift.www.dao.CCouponMapper" >
  <resultMap id="BaseResultMap" type="com.sekift.www.model.CCoupon" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="coupon_code" property="couponCode" jdbcType="VARCHAR" />
    <result column="coupon_name" property="couponName" jdbcType="VARCHAR" />
    <result column="header_img" property="headerImg" jdbcType="VARCHAR" />
    <result column="footer_color" property="footerColor" jdbcType="VARCHAR" />
    <result column="coupon_total" property="couponTotal" jdbcType="INTEGER" />
    <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="can_use_user" property="canUseUser" jdbcType="TINYINT" />
    <result column="user_per" property="userPer" jdbcType="INTEGER" />
    <result column="use_threshold" property="useThreshold" jdbcType="DECIMAL" />
    <result column="face_value" property="faceValue" jdbcType="DECIMAL" />
    <result column="can_use_goods" property="canUseGoods" jdbcType="VARCHAR" />
    <result column="get_mode" property="getMode" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, coupon_code, coupon_name, header_img, footer_color, coupon_total, begin_time, 
    end_time, can_use_user, user_per, use_threshold, face_value, can_use_goods, get_mode
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sekift.www.model.CCouponExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from c_coupon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from c_coupon
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from c_coupon
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sekift.www.model.CCouponExample" >
    delete from c_coupon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sekift.www.model.CCoupon" >
    insert into c_coupon (id, coupon_code, coupon_name, 
      header_img, footer_color, coupon_total, 
      begin_time, end_time, can_use_user, 
      user_per, use_threshold, face_value, 
      can_use_goods, get_mode)
    values (#{id,jdbcType=INTEGER}, #{couponCode,jdbcType=VARCHAR}, #{couponName,jdbcType=VARCHAR}, 
      #{headerImg,jdbcType=VARCHAR}, #{footerColor,jdbcType=VARCHAR}, #{couponTotal,jdbcType=INTEGER}, 
      #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{canUseUser,jdbcType=TINYINT}, 
      #{userPer,jdbcType=INTEGER}, #{useThreshold,jdbcType=DECIMAL}, #{faceValue,jdbcType=DECIMAL}, 
      #{canUseGoods,jdbcType=VARCHAR}, #{getMode,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.sekift.www.model.CCoupon" >
    insert into c_coupon
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="couponCode != null" >
        coupon_code,
      </if>
      <if test="couponName != null" >
        coupon_name,
      </if>
      <if test="headerImg != null" >
        header_img,
      </if>
      <if test="footerColor != null" >
        footer_color,
      </if>
      <if test="couponTotal != null" >
        coupon_total,
      </if>
      <if test="beginTime != null" >
        begin_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="canUseUser != null" >
        can_use_user,
      </if>
      <if test="userPer != null" >
        user_per,
      </if>
      <if test="useThreshold != null" >
        use_threshold,
      </if>
      <if test="faceValue != null" >
        face_value,
      </if>
      <if test="canUseGoods != null" >
        can_use_goods,
      </if>
      <if test="getMode != null" >
        get_mode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="couponCode != null" >
        #{couponCode,jdbcType=VARCHAR},
      </if>
      <if test="couponName != null" >
        #{couponName,jdbcType=VARCHAR},
      </if>
      <if test="headerImg != null" >
        #{headerImg,jdbcType=VARCHAR},
      </if>
      <if test="footerColor != null" >
        #{footerColor,jdbcType=VARCHAR},
      </if>
      <if test="couponTotal != null" >
        #{couponTotal,jdbcType=INTEGER},
      </if>
      <if test="beginTime != null" >
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="canUseUser != null" >
        #{canUseUser,jdbcType=TINYINT},
      </if>
      <if test="userPer != null" >
        #{userPer,jdbcType=INTEGER},
      </if>
      <if test="useThreshold != null" >
        #{useThreshold,jdbcType=DECIMAL},
      </if>
      <if test="faceValue != null" >
        #{faceValue,jdbcType=DECIMAL},
      </if>
      <if test="canUseGoods != null" >
        #{canUseGoods,jdbcType=VARCHAR},
      </if>
      <if test="getMode != null" >
        #{getMode,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sekift.www.model.CCouponExample" resultType="java.lang.Integer" >
    select count(*) from c_coupon
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update c_coupon
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.couponCode != null" >
        coupon_code = #{record.couponCode,jdbcType=VARCHAR},
      </if>
      <if test="record.couponName != null" >
        coupon_name = #{record.couponName,jdbcType=VARCHAR},
      </if>
      <if test="record.headerImg != null" >
        header_img = #{record.headerImg,jdbcType=VARCHAR},
      </if>
      <if test="record.footerColor != null" >
        footer_color = #{record.footerColor,jdbcType=VARCHAR},
      </if>
      <if test="record.couponTotal != null" >
        coupon_total = #{record.couponTotal,jdbcType=INTEGER},
      </if>
      <if test="record.beginTime != null" >
        begin_time = #{record.beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null" >
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.canUseUser != null" >
        can_use_user = #{record.canUseUser,jdbcType=TINYINT},
      </if>
      <if test="record.userPer != null" >
        user_per = #{record.userPer,jdbcType=INTEGER},
      </if>
      <if test="record.useThreshold != null" >
        use_threshold = #{record.useThreshold,jdbcType=DECIMAL},
      </if>
      <if test="record.faceValue != null" >
        face_value = #{record.faceValue,jdbcType=DECIMAL},
      </if>
      <if test="record.canUseGoods != null" >
        can_use_goods = #{record.canUseGoods,jdbcType=VARCHAR},
      </if>
      <if test="record.getMode != null" >
        get_mode = #{record.getMode,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update c_coupon
    set id = #{record.id,jdbcType=INTEGER},
      coupon_code = #{record.couponCode,jdbcType=VARCHAR},
      coupon_name = #{record.couponName,jdbcType=VARCHAR},
      header_img = #{record.headerImg,jdbcType=VARCHAR},
      footer_color = #{record.footerColor,jdbcType=VARCHAR},
      coupon_total = #{record.couponTotal,jdbcType=INTEGER},
      begin_time = #{record.beginTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      can_use_user = #{record.canUseUser,jdbcType=TINYINT},
      user_per = #{record.userPer,jdbcType=INTEGER},
      use_threshold = #{record.useThreshold,jdbcType=DECIMAL},
      face_value = #{record.faceValue,jdbcType=DECIMAL},
      can_use_goods = #{record.canUseGoods,jdbcType=VARCHAR},
      get_mode = #{record.getMode,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sekift.www.model.CCoupon" >
    update c_coupon
    <set >
      <if test="couponCode != null" >
        coupon_code = #{couponCode,jdbcType=VARCHAR},
      </if>
      <if test="couponName != null" >
        coupon_name = #{couponName,jdbcType=VARCHAR},
      </if>
      <if test="headerImg != null" >
        header_img = #{headerImg,jdbcType=VARCHAR},
      </if>
      <if test="footerColor != null" >
        footer_color = #{footerColor,jdbcType=VARCHAR},
      </if>
      <if test="couponTotal != null" >
        coupon_total = #{couponTotal,jdbcType=INTEGER},
      </if>
      <if test="beginTime != null" >
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="canUseUser != null" >
        can_use_user = #{canUseUser,jdbcType=TINYINT},
      </if>
      <if test="userPer != null" >
        user_per = #{userPer,jdbcType=INTEGER},
      </if>
      <if test="useThreshold != null" >
        use_threshold = #{useThreshold,jdbcType=DECIMAL},
      </if>
      <if test="faceValue != null" >
        face_value = #{faceValue,jdbcType=DECIMAL},
      </if>
      <if test="canUseGoods != null" >
        can_use_goods = #{canUseGoods,jdbcType=VARCHAR},
      </if>
      <if test="getMode != null" >
        get_mode = #{getMode,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sekift.www.model.CCoupon" >
    update c_coupon
    set coupon_code = #{couponCode,jdbcType=VARCHAR},
      coupon_name = #{couponName,jdbcType=VARCHAR},
      header_img = #{headerImg,jdbcType=VARCHAR},
      footer_color = #{footerColor,jdbcType=VARCHAR},
      coupon_total = #{couponTotal,jdbcType=INTEGER},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      can_use_user = #{canUseUser,jdbcType=TINYINT},
      user_per = #{userPer,jdbcType=INTEGER},
      use_threshold = #{useThreshold,jdbcType=DECIMAL},
      face_value = #{faceValue,jdbcType=DECIMAL},
      can_use_goods = #{canUseGoods,jdbcType=VARCHAR},
      get_mode = #{getMode,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>