<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sekift.www.dao.TerminalTypeInfoMapper" >
  <resultMap id="BaseResultMap" type="com.sekift.www.model.TerminalTypeInfo" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="trml_form_id" property="trmlFormId" jdbcType="TINYINT" />
    <result column="prdct_type_id" property="prdctTypeId" jdbcType="INTEGER" />
    <result column="trml_form_name" property="trmlFormName" jdbcType="VARCHAR" />
    <result column="prdct_type_name" property="prdctTypeName" jdbcType="CHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, trml_form_id, prdct_type_id, trml_form_name, prdct_type_name, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sekift.www.model.TerminalTypeInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from terminal_type_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from terminal_type_info
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from terminal_type_info
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sekift.www.model.TerminalTypeInfoExample" >
    delete from terminal_type_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sekift.www.model.TerminalTypeInfo" >
    insert into terminal_type_info (ID, trml_form_id, prdct_type_id, 
      trml_form_name, prdct_type_name, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{trmlFormId,jdbcType=TINYINT}, #{prdctTypeId,jdbcType=INTEGER}, 
      #{trmlFormName,jdbcType=VARCHAR}, #{prdctTypeName,jdbcType=CHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sekift.www.model.TerminalTypeInfo" >
    insert into terminal_type_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="trmlFormId != null" >
        trml_form_id,
      </if>
      <if test="prdctTypeId != null" >
        prdct_type_id,
      </if>
      <if test="trmlFormName != null" >
        trml_form_name,
      </if>
      <if test="prdctTypeName != null" >
        prdct_type_name,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="trmlFormId != null" >
        #{trmlFormId,jdbcType=TINYINT},
      </if>
      <if test="prdctTypeId != null" >
        #{prdctTypeId,jdbcType=INTEGER},
      </if>
      <if test="trmlFormName != null" >
        #{trmlFormName,jdbcType=VARCHAR},
      </if>
      <if test="prdctTypeName != null" >
        #{prdctTypeName,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sekift.www.model.TerminalTypeInfoExample" resultType="java.lang.Integer" >
    select count(*) from terminal_type_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update terminal_type_info
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.trmlFormId != null" >
        trml_form_id = #{record.trmlFormId,jdbcType=TINYINT},
      </if>
      <if test="record.prdctTypeId != null" >
        prdct_type_id = #{record.prdctTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.trmlFormName != null" >
        trml_form_name = #{record.trmlFormName,jdbcType=VARCHAR},
      </if>
      <if test="record.prdctTypeName != null" >
        prdct_type_name = #{record.prdctTypeName,jdbcType=CHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update terminal_type_info
    set ID = #{record.id,jdbcType=INTEGER},
      trml_form_id = #{record.trmlFormId,jdbcType=TINYINT},
      prdct_type_id = #{record.prdctTypeId,jdbcType=INTEGER},
      trml_form_name = #{record.trmlFormName,jdbcType=VARCHAR},
      prdct_type_name = #{record.prdctTypeName,jdbcType=CHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sekift.www.model.TerminalTypeInfo" >
    update terminal_type_info
    <set >
      <if test="trmlFormId != null" >
        trml_form_id = #{trmlFormId,jdbcType=TINYINT},
      </if>
      <if test="prdctTypeId != null" >
        prdct_type_id = #{prdctTypeId,jdbcType=INTEGER},
      </if>
      <if test="trmlFormName != null" >
        trml_form_name = #{trmlFormName,jdbcType=VARCHAR},
      </if>
      <if test="prdctTypeName != null" >
        prdct_type_name = #{prdctTypeName,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sekift.www.model.TerminalTypeInfo" >
    update terminal_type_info
    set trml_form_id = #{trmlFormId,jdbcType=TINYINT},
      prdct_type_id = #{prdctTypeId,jdbcType=INTEGER},
      trml_form_name = #{trmlFormName,jdbcType=VARCHAR},
      prdct_type_name = #{prdctTypeName,jdbcType=CHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>